/* import other styles */
@import url("palette.css");
@import url("container.css");
@import url("utils.css");
@import url("colour-styling.css");
@import url("img.css");
@import url("header-elem.css");
@import url("transition.css");
@import url("form.css");
@import url("blog.css");

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
    background-color: var(--pal-white);
}

main {
    padding: 1.25rem 0;
}

div#app {
    display: flex; flex-direction: column; min-height: 100vh; /* stick footer to bottom of page */
}

@media print {
    /* whiten background for print */
    body {
        background-color: white;
    }
}